body {
    background: #D0E562;
}

div.header {
    background: #B6D369;
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    font-size: 3em;
    font-family: cursive;
}

.game-display {
    background: #B2945B;
    border: 10px solid #898952;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 50vh;
    width: 50vw;
    transform: translate(0px, 200px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-display #start-button {
    cursor: pointer;
    padding: 30px;
    border-radius: 10px;
    border: none;
    font-size: 48px;
    background: #93C48B;
    font-weight: 700;
    width: 14vw;
    position: absolute;
}

.player-option {
    display: none;
    cursor: pointer;
    /* transform: translate(0px, 150px); */
    font-size: 3em;
    background: #93C48B;
    border: 5px solid;
    border-radius: 10px;
} 

.player-option-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 35vh;
    margin-right: 7vw;
}

#toggle-music-button {
    cursor: pointer;
    /* transform: translate(350px, 200px); */
    margin-top: 40vh;
    margin-left: 45vw;
    position: fixed;
    max-height: 50px;
    max-width: 50px;
}

div.footer {
    background: #B6D369;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}